@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "colors";

#opdracht-photo {
  padding-top: 75px;
  padding-bottom: 75px;
  background: no-repeat center center $gray-dark;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img, .img-responsive.img-rounded, .carousel {
    -webkit-filter: drop-shadow(0 0 25px $gray-base);
    filter:         drop-shadow(0 0 25px $gray-base);
  }

  .img-rounded, .img-responsive {
    width: 100%;
  }

  #opdracht_4_slider_detail {

    .right, .left {
      background-image: none;
    }
  }
}

#description {

  margin-top: 75px;
  margin-bottom: 75px;

  h2 {
    font-weight: 700;
    color: $kleur_5;
    margin-bottom: 25px;
  }

  p {
    color: $kleur_4;
    line-height: 225%;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  .btn {
    margin-top: 50px;
    background-color: transparent;
    border-color: $kleur_5;
    color: $kleur_4;
  }

  .dropdown-menu {
    background-color: transparent;
    border-color: $kleur_5;

    a {
      color: $kleur_4;
    }
  }

  .btn:not(:first-of-type), .btn-group {
    margin-left: 10px;
  }
}
