$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

* {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {

  .text-xs-center {
    text-align: center;
  }
}

@media (max-width: 991px) {

  .margin-top-sm-40 {
    margin-top:40px;
  }
}
